.reserva {
    text-align: center;
    background-color: rgb(230, 230, 230);
}

.reserva img{
    display: inline-block;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: middle;
}

.reserva_nombre {
    width: 150px;
    font-size: 18px;
    text-align: left;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.misma_linea {
    display: inline-block;
    font-size: 18px;
}

.reserva_signo {
    display: inline-block;
    font-size: 18px;
}

.reserva_item {
    display: inline-block;
    width: 250px;
    font-size: 18px;
}

.reserva_hora {
    width: 150px;
    text-align: left;
    font-size: 18px;
    padding-right: 5px;
}

.reserva_fecha {
    width: 150px;
    text-align: left;
    font-size: 18px;
    padding-right: 5px;
}

.reserva_campos {
    align-items: center;
    text-align: center;
    width: 250px;
    font-size: 18px;
    border-radius: 0px;
    border: 1px solid black
}

.boton_reserva {
    width: 400px;
    font-size: 18px;
    align-items: center;
    text-align: center;
    background-color: #e9f0fd;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
}



