.portada_inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.portada_imagen img {
    width: 100%;
    align-items: center;
    justify-content: center;
}

