.reserva {
    text-align: center;
    background-color: rgb(230, 230, 230);
}

.mostrar {
    display: flex;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 0;
    margin-right: 0;
    align-items: 'center';
    justify-content: center;
    padding-top: 0;
}

.left-content {
    flex: 1;
    text-align: center;
}

.reserva_fecha {
    width: 130px;
    text-align: left;
    font-size: 18px;
    padding-right: 5px;
}
.reserva_hora {
    width: 130px;
    text-align: left;
    font-size: 18px;
    padding-right: 5px;
}

.reserva_campos {
    align-items: center;
    text-align: center;
    width: 200px;
    font-size: 18px;
    border-radius: 0px;
    border: 1px solid black
}

.reserva_error {
    display: 'flex';
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 500px;
}

.misma_linea {
    display: inline-block;
    font-size: 18px;
}

.reserva_signo {
    display: inline-block;
    font-size: 12px;
}

.reserva_item {
    display: inline-block;
    width: 250px;
    font-size: 18px;
}

.boton_restasuma {
    width: 50px;
    font-size: 18px;
    border: 1px solid black
}

.reserva_nombre {
    width: 130px;
    font-size: 18px;
    text-align: left;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.right-content {
    flex: 1;
    align-items: center;
    text-align: center;
    justify-content: center
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    /*grid-template-columns: repeat(4, 1fr);*/
    grid-gap: 20px;
    /*justify-content: space-between;*/
    justify-items: center;
}

.mesas {
    width: 70px;
    height:50px;
    color: white;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
}

.boton_reserva {
    width: 330px;
    font-size: 18px;
    align-items: center;
    text-align: center;
    background-color: #e9f0fd;
    color: black;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .contenedor {
        grid-template-columns: repeat(4, minmax(80px, 1fr));
        /*grid-template-columns: repeat(4, 1fr);*/
        justify-content: space-between;
    }
}