.reserva {
    text-align: center;
    background-color: rgb(230, 230, 230);
}

.reserva img{
    display: inline-block;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: middle;
}

.mostrar {
    justify-content: center;
    padding: 10px;
    align-items: 'center';
    justify-content: center;
    padding-top: 0;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    align-items: center;
    justify-content: center
}

.left-content {
    text-align: center;
}

.right-content {
    align-items: center;
    text-align: center;
    justify-content: center
}

.mesas {
    width: 50px;
    height:50px;
    color: white;
    text-align: center;
    margin: 5px;
}

.reserva_nombre {
    width: 130px;
    font-size: 18px;
    text-align: left;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.misma_linea {
    display: inline-block;
    font-size: 18px;
}

.reserva_signo {
    display: inline-block;
    font-size: 12px;
}

.reserva_item {
    display: inline-block;
    width: 250px;
    font-size: 18px;
}

.reserva_hora {
    width: 130px;
    text-align: left;
    font-size: 18px;
    padding-right: 5px;
}

.reserva_fecha {
    width: 130px;
    text-align: left;
    font-size: 18px;
    padding-right: 5px;
}

.reserva_campos {
    align-items: center;
    text-align: center;
    width: 200px;
    font-size: 18px;
    border-radius: 0px;
    border: 1px solid black
}

.boton_reserva {
    width: 330px;
    font-size: 18px;
    align-items: center;
    text-align: center;
    background-color: #e9f0fd;
    color: black;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
}

@media (min-width: 768px) {
    .contenedor {
        grid-template-columns: repeat(4, 1fr);
    }
}